.vscode
\env_datathon
\img
\json
\datathon
\arquivos
\Passos_Magicos_Final12A
Passos_Magicos_Final12A/apresentacao_2022.py
Passos_Magicos_Final12A/modelo_2022.h5
Passos_Magicos_Final12A/PEDE_PASSOS_DATASET_FIAP.csv
Passos_Magicos_Final12A/requirements.txt
Passos_Magicos_Final12A/scaler_2022.pkl
Passos_Magicos_Final12A/tensor_depurado_passos_val_cruz_curvas__de_aprend_2022.ipynb
